Recommendation_System_Deployment/similarity.pkl
Recommendation_System_Deployment/movie_dict.pkl
Recommendation_System_Deployment/key
Recommendation_System_ML_Code/credits
Recommendation_System_ML_Code/movies
Recommendation_System_ML_Code/similarity.pkl
MCA_Project/key
.ipynb_checkpoints
Mushroom_Classification/dataset.csv
Mushroom_Classification/tmp